main{
  height:100vh;
}

/* footer */
.footer{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }
  
  .footer p{
    color: white;
    padding: 5px;
    font-size: 12px;
  }

  .img-precos{
    position: absolute;
    top: 200px;
    right: 40px;
  }

